@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

body {
  background-color: rgba(255, 255, 255, 1);
}

.first {
  background-color: rgba(0, 0, 0, 1);

  display: flex;
  color: white;
  font-family: Montserrat-Regular;




}



.first-one-one {
  padding-left: 40px;
}

.first-one {
  padding-left: 30px;
}

.second-four {
  display: flex;
  padding-left: 160px;
}

.second-one {
  background-color: rgba(255, 255, 255, 1);
  padding-right: 40px;

}

.second-five {
  display: flex;
  padding-left: 570px;

}



i {
  padding-left: 30px;
}

.second-two {
  display: flex;
}

.second-three {
  padding-left: 30px;
}


a {
  padding-left: 50px;
  text-decoration: none;
  height: 11px;
  font-family: Montserrat-Regular;
  color: grey;
}

a:hover {
  color: #3CB878;
  text-decoration: none;

}

.second {
  font-family: Montserrat-Regular;
  font-weight: bold;
  color: black;
  padding-left: 70px;

}

.homepage-slider {
  display: flex;
}

.third {
  background-image: url(/img/bg\ photo.png);
  height: 703px;
  width: 1350;
  padding-top: 278px;
  padding-left: 300px;

}

.third-one {
  font-family: Montserrat-Regular;
  font-weight: bold;
  height: 116px;
  font-size: 50px;

}

.third-two {
  padding-right: 130px;
}

p {
  font-size: 16px;

  color: #333333;
}

.third-three {
  padding-left: 160px;

}

button {
  background-image: url(/img/Buton.png);
  height: 37px;
}

.five {
  padding-left: 20px;
  font-family: Montserrat-Regular;
  font-weight: bolder;
}

.five-one {
  color: #3CB878;
}

.new {}

.hight {
  padding-right: 50px;
}

.five-two-one {
  padding-left: 30px;


}

.i-one {
  padding-left: 5px;
  color: #FF9600;
}


.six {
  color: red;
}



.six:hover {
  visibility: visible;
  color: #FF9600;
}

.seven {

  height: 350px;
}



@media screen and (max-width: 992px) {
  body {}