@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

body {
  background-color: rgba(255, 255, 255, 1);

  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.first {
  background-color: rgba(0, 0, 0, 1);

  display: flex;
  color: white;
  font-family: Montserrat-Regular;




}



.first-one-one {
  padding-left: 40px;
}

.first-one {
  padding-left: 30px;
}

.second-four {
  display: flex;
  padding-left: 160px;
}

.second-one {
  background-color: rgba(255, 255, 255, 1);
  padding-right: 40px;


}

.second-five {
  display: flex;
  padding-left: 570px;

}



i {
  padding-left: 30px;
}

.second-two {
  display: flex;
}

.second-three {
  padding-left: 30px;
}


a {
  padding-left: 50px;
  text-decoration: none;
  height: 11px;
  font-family: Roboto-Regular;
  color: grey;
}

a:hover {
  color: #3CB878;
  text-decoration: none;

}

.second {
  font-family: Montserrat-Regular;
  font-weight: bold;
  color: black;
  padding-left: 70px;

}

.homepage-slider {
  display: flex;
}

.third {
  background-image: url(/img/bg\ photo.png);
  height: 703px;
  width: 1350;
  padding-top: 278px;
  padding-left: 300px;

}

.third-one {
  font-family: Montserrat-Regular;
  font-weight: bold;
  height: 116px;
  font-size: 40px;

}

.third-two {
  padding-right: 130px;
}

p {
  font-size: 16px;

  color: #333333;
}

.third-three {
  padding-left: 160px;

}

.button {}

.five {
  padding-left: 20px;
  font-family: poppins-regular;

  font-weight: bolder;
}

.five-one {
  color: #3CB878;
}

.new {}

.hight {
  padding-right: 50px;
}

.five-two-one {
  padding-left: 30px;


}

.i-one {
  padding-left: 5px;
  color: #FF9600;
}


.six {
  color: red;
}



.six:hover {
  visibility: visible;
  color: #FF9600;
}

.seven {

  height: 350px;
}

.eight {
  font-family: poppins-regular;

  font-weight: bold;
  size: 30px;
  text-align: center;

}

.eight-one {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 30px;
}

.nine {
  background-color: #2B2F41;
  padding-left: 60px;
  text-align: center;
  font-family: poppins-regular;

}

.ten {

  background-color: rgba(245, 246, 249, 1);
}

.btn-ten {
  background-color: rgba(60, 184, 120, 1);
}

.ten-one {
  gap: 40px;
}

.nine-one {
  color: white;
}

.form-control {
  padding-right: 30px;
}

.btn-2 {
  background-color: rgba(60, 184, 120, 1);
}

.eleven-one {
  padding-left: 170px;

}

.eleven-one-one {
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);

  padding-right: 20px;

}

.col-4 {
  font-family: poppins-regular;
  width: 130px;
  size: 11px;
}

.twelve {
  font-family: poppins-regular;
}

.contact {
  padding-right: 90px;
}

.last {
  color: rgba(60, 184, 120, 1);
}

.foot {
  background-color: #000000;
  color: #777777;
  padding-left: 300px;
  font-size: 14px;

}

.foote {
  padding-left: 200px;
}

.a1 {
  font-family: Roboto-Regular;
  size: 8px;
  color: #000000;
}

.a1:hover {
  color: #3CB878;
}

.shop-one {
  padding-left: 20px;
  padding-top: 30px;
}

.cart {
  text-align: right;
  font-family: Roboto-Regular;
  font-size: 14px;
}

.cart-one {
  background-color: #3CB878;
  color: white;
}

.part-3 {
  margin-left: 50px;
}

.star {
  color: #3CB878;
  gap: 0px;
}

.star-1 {
  font-size: 11px;
  gap: 3px;
}

.cart-2:hover {
  background-color: #3CB878;
}

.shop-checkout {
  color: red;
}

.shop-checkout-1 {
  background-color: rgba(163, 162, 163, 1);

}

.shop-checkout-3 {

  color: white;
  background-color: #3CB878;
  border: #3CB878;

}

.shop-checkout-4 {
  display: flex;
  justify-content: flex-end;
}

br {
  border-color: aquamarine;
}

.shop-grid {

  border-bottom: 2px solid grey;
}

.shop-grid-one {
  border: 2px solid grey;
}

.shop-checkout-5 {
  height: 33px;

}

.shop-checkout-5:hover {
  background-color: #3CB878;
  color: white;
}

.shop-grid-5 {
  border-bottom: 2px solid grey;

}

@media screen and (max-width: 992px) {
  body {}